extends ../base

block content
  form(method="post")
    input(type="text", placeholder="Old password", name="oldPassword")
    input(type="text", placeholder="New password", name="newPassword")
    input(type="text", placeholder="New password confirmation", name="newPassword2")
    input(type="submit", value="Change password")
